<div class="login-background-image">
<nav class="navbar-inverse navbar-fixed-top navbar-default">
    <div class="container-fluid">
      <a class="navbar-text" href="#">Poke Hunt</a>
      <p class="navbar-right navbar-text">
        <a href="#/login" class="navbar-links" ng-hide="user">Login</a> or <a href="#/register" class="navbar-links">Register</a></p>
      </p>
    </div>
  </nav>

  <div class="login-form col-sm-6">
    <div>
      <h1>Login</h1>
      <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
      <form class="form" ng-submit="login()">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
        </div>
        <div class="form-group">
          <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
          </div>
          <div>
            <button type="submit" class="btn btn-default login-button" ng-disabled="disabled" ng-click="go('/api')">Login</button>
          </div>
      </form>
    </div>
  </div>

</div>
