<!-- GOOGLE MAP -->
<div class="angular-google-map-container" ng-controller="mapController">
  <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true" options="options" events="map.events">
    <!-- <marker position="San Francisco"></marker> -->
    <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id" labelContent="m.labelContent"></ui-gmap-marker>
  </ui-gmap-google-map>
  <div ng-repeat="pokestop in pokestops">
    Poke Stop: {{ pokestop.id }} {{ pokestop.location.coordinate }}
  </div>

<!-- END GOOGLE MAP -->
<!-- COMMENT BOX -->
<div class="container comment-box">
  <form method="post">
    <textarea name="name" rows="6" cols="40" placeholder="Comment"></textarea><br>
    <input type="submit" name="name" value="Submit" class="btn">
  </form>
</div>
<!-- END COMMENT BOX -->
</div>
