<!-- GOOGLE MAP -->
<div class="angular-google-map-container" ng-controller="mapController">
  <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true" options="options" events="map.events">

    <ui-gmap-markers models="map.markers" idKey="'id'" coords="'self'" events="map.markersEvents" icon="'icon'">
      <!-- <ui-gmap-window show="map.window.show" templateUrl="partials/info.html" templateParameter="map.window.model"
      options="'options'">
        <div>Pokestop: {{ title }}</div>
      </ui-gmap-window> -->
    </ui-gmap-markers>
    <ui-gmap-window
      show="map.window.show"
      coords="map.window.model"
      templateUrl="'info.html'"
      templateParameter="map.window.model"
      options="map.window.options"
      ng-cloak>
      </ui-gmap-window>
  </ui-gmap-google-map>
<!-- COMMENT BOX -->
  <div class="container comment-box">
    <form method="post">
      <textarea name="name" rows="3" cols="40" placeholder="Comment" ng-model="text"></textarea><br>
      <input type="submit" name="name" value="Submit" class="btn">
    </form>
  </div>
<!-- END COMMENT BOX -->
  <div class="container" ng-repeat="pokestop in pokestops | filter:search">
    <ul>
      <li><strong>Poke Stop:</strong> {{ pokestop.name }} <strong>Location:</strong> {{ pokestop.location.display_address[0] }}</li>
    </ul>
  </div>
</div>
