<nav class="navbar-inverse navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <a class="navbar-text" href="#">Poke Hunt</a>
    <p class="navbar-right navbar-text">
      <a href="#/login" class="navbar-links" ng-hide="user">Login</a> or <a href="#/register" class="navbar-links">Register</a></p>
    </p>
  </div>
</nav>

<div class="login-background-image">
  <div class="col-sm-6 login-form">
    <h1>Register</h1>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <form class="form" ng-submit="register()">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" ng-model="registerForm.username" required>
      </div>
      <div class="form-group">
        <label>Password</label>
          <input type="password" class="form-control" name="password" ng-model="registerForm.password" required>
        </div>
        <div>
          <button type="submit" class="login-button btn btn-default" ng-disabled="disabled" ng-click="go('/api')">Register</button>
        </div>
    </form>
  </div>
</div>
