body {
  background-color: #FFFFFE;
}
.navbar-right {
  padding-right: 32px;

}
.navbar-links {
  color: #D64D4D;
}
.angular-view-div {
  padding-top: 45px;
}
.angular-google-map-container {
  height: 400px;
  width: 100%;
}
.submit-button {
  background-color: #00A388;
  color: ghostwhite;
}
.logout-button {
  padding-top: 45px;
}
.comment-box {
  padding-top: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #D64D4D;
  padding-bottom: 25px;
}
.pokestops-list {
  padding-top: 20px;
}
.pokestop {
  align-items: center;
  display: flex;
  /*justify-content: center;*/
}
.selected {
  background: #ddd;
}
