body {
  background-color: #FFFFE9;
}
.navbar-right {
  padding-right: 32px;

}
.navbar-links {
  color: #D64D4D;
}
.angular-view-div {
  padding-top: 45px;
}
.angular-google-map-container {
  height: 400px;
  width: 100%;
}
.submit-button {
  background-color: #00A388;
  color: ghostwhite;
}
.logout-button {
  padding-top: 45px;
}
.comment-box {
  padding-top: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #D64D4D;
  padding-bottom: 25px;
}
.pokestops-list {
  padding-top: 20px;
}
.pokestop {
  align-items: center;
  display: flex;
  /*justify-content: center;*/
}
.selected {
  background: #DDD;
}
.login-background-image {
  background-image: url("https://ucarecdn.com/975263b1-7612-4af8-9b95-f33567d34c9c/Untitled2.png");
  height: 700px;
  background-size: 100%;
  background-repeat: no-repeat;
  color: ghostwhite;
  background-color: #222;
}
.login-form {
  background-color: rgba(51, 51, 51, .55);
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 25%;
  top: 10%;
  padding-bottom: 25px;
  border-radius: 10px;
}
.login-button {
  background-color: #D64D4D;
  border-color: #D64D4D;
  color: ghostwhite;
}
