.navbar-right {
  padding-right: 32px;
}
.angular-view-div {
  padding-top: 45px;
}
.angular-google-map-container {
  height: 400px;
  width: 100%;

}
.logout-button {
  padding-top: 45px;
}
.comment-box {
  padding-top: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
}
